input.ng-invalid.ng-touched{

    border: 1px solid red;
}

.form-group{
    margin-bottom: 5%;
}

.ErrorSpanMessage{
color: red;
font-weight: 500;
}

.login-page .theme-card .theme-form input{
    margin-bottom: 10px;
}